.box1{
    background-color: #ffffff;
    width:85%;
    margin: auto;
    position: relative;
    background-image: url("../../../assets/create.png");
    background-size:contain;
    background-repeat: no-repeat;
}
.create-product-box h2{
    text-align:center;
}

.create-product-box form{
    margin: auto;
    margin-top:1.2rem;
    border-radius: 1.2rem;
    box-shadow: 0.2rem 0.3rem 0.5rem rgba(0, 0, 0, 0.436);
    width:90%;
    background-color: #ffffff4c;
    display: flex;
    padding: 0.8rem;
    flex-direction: column;
}
.create-product-box form input{
    width: 100%;
    background-color: transparent;
    border-bottom: 1px solid black;
    padding: 0.8rem  0;
}
.create-product-box form #category1{
    width: 100%;
    background: transparent;
    padding:0  0;
    color:#303030;
    border: none;
    border-bottom: 1px solid black;
}
.create-product-box form #category1 option{
    background-color:#191970;
    color:white;
    padding:0.8rem 0;
}
.create-product-box form button{
    margin-top: 0.3rem;
    padding:0.8rem 0;
    color: aquamarine;
    font-size: large;
    background-color:#303030;
}
.create-product-box form button:hover{
    background-color: aquamarine;
    color:rgb(42, 183, 202);
}